header {
    background-color: black;
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
}

header img {
    height: 20px;
    margin-left: 10px;
}

header form {
    flex-grow: 1;
    text-align: center;
}

header input[type="text"] {
    border: 1px solid white;
    height: 30px;
    width: 50%;
    background-color: white;
    color: black;
    padding: 0 5px;
    box-sizing: border-box;
}

header .header__nav {
    margin-right: 10px;
}

.header__nav .nav__list {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}

.header__nav .nav__item {
    margin: 0 10px;
}

.header__nav .nav__item-button,
.header__nav .nav__item-link {
    color: white;
    font-size: 15px;
    text-decoration: none;
    background-color: transparent;
    border: none;
    border-radius: 3px;
}

.header__nav .nav__item-link.nav__item-link-sell {
    color: black;
    background-color: white;
    padding: 5px;
}

.header__nav .nav__item-link:hover,
.header__nav .nav__item-button:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: center;
        padding: 10px;
        margin-bottom: 20px;
    }

    header img {
        height: 30px;
        margin-left: 0;
    }

    header form {
        text-align: center;
        margin: 10px 0;
    }

    header input[type="text"] {
        width: 200px;
        margin-top: 10px;
        border: 1px solid white;
        background-color: white;
        color: black;
        padding: 0 5px;
        box-sizing: border-box;
    }

    header .header__nav {
        margin-right: 0;
        margin-top: 10px;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .header__nav .nav__list {
        display: flex;
        flex-wrap: wrap;
        padding: 0;
        margin: 0;
        list-style: none;
    }

    .header__nav .nav__item {
        margin: 5px;
    }

    .header__nav .nav__item-button,
    .header__nav .nav__item-link {
        color: black;
        font-size: 12px;
        text-decoration: none;
        background-color: white;
        border: 1px solid black;
        border-radius: 3px;
        padding: 5px 10px;
        width: 100px;
        box-sizing: border-box;
        text-align: center;
    }

    .header__nav .nav__item-link.nav__item-link-sell {
        color: black;
        background-color: white;
        border: 1px solid black;
        padding: 5px 10px;
        font-size: 12px;
        width: 100px;
        box-sizing: border-box;
        text-align: center;
    }

    .header__nav .nav__list {
        flex-direction: row;
        align-items: center;
    }
}