.tab-buttons {
    display: flex;
    justify-content: flex-start;
    border-bottom: 5px solid gray;
    margin-bottom: 20px;
    padding-bottom: 5px;
    width: 100vw;
    box-sizing: border-box;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
}

.tab-buttons .tab-link {
    padding: 10px;
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
    font-weight: bold;
    margin-right: 10px;
}

.tab-buttons .tab-link:hover,
.tab-buttons .tab-link.active {
    color: red;
}

.product-list__items {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    list-style: none;
}

.product-item {
    margin-bottom: 60px;
    margin-right: 25px;
    text-align: center;
    position: relative;
    width: calc(20% - 20px);
    padding-bottom: calc(20% - 40px);
    box-sizing: border-box;
}

.product-item:nth-child(5n) {
    margin-right: 0;
}

.product-item img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    margin: 0 auto;
}


@media (max-width: 768px) {
    .tab-buttons {
        flex-direction: row;
        align-items: center;
        overflow-x: auto;
    }

    .tab-buttons .tab-link {
        margin-right: 10px;
        margin-bottom: 0;
    }

    .product-list__items {
        justify-content: center;
    }

    .product-item {
        width: calc(50% - 10px);
        padding-bottom: calc(50% - 40px);
        margin-bottom: 40px;
        margin-right: 10px;
        text-align: center;
        position: relative;
    }

    .product-item img {
        width: 100%;
        height: auto;
        max-height: 100%;
        object-fit: cover;
        display: block;
        margin: 0 auto;
    }

    .product-item:nth-child(2n) {
        margin-right: 0;
    }
}