.profile-section {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 20px;
    position: relative;
}

.profile-icon {
    margin-right: 20px;
}

.profile-icon img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #000;
}

.profile-info {
    display: flex;
    align-items: center;
    text-align: left;
    margin-right: 20px;
}

.user-name {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
}

.edit-profile-btn {
    text-decoration: none;
    color: white;
    background-color: red;
    border: 2px solid red;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    white-space: nowrap;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.toggle-links {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 20px;
    position: relative;
    width: 100%;
}

.toggle-links ul {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
}

.toggle-links li {
    margin-right: 20px;
}

.toggle-links a {
    text-decoration: none;
    font-size: 20px;
    color: #333;
    font-weight: bold;
    position: relative;
    padding-bottom: 10px;
}

.toggle-links a.active {
    color: red;
}

.toggle-links a:hover {
    color: hsl(0, 0%, 88%);
}

.toggle-links::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 5px;
    background-color: gray;
    z-index: -1;
}

.product-list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    /* 5列のグリッド */
    gap: 20px;
    /* カード間の間隔 */
}

.product-item {
    background-color: #fff;
    /* 背景色を設定 */
    box-shadow: 0 0 0 1px #ddd;
    /* 枠線（必要に応じて削除） */
    position: relative;
    padding-top: 100%;
    /* 高さを幅に合わせて正方形にするための設定 */
    overflow: hidden;
    /* 画像がはみ出さないようにする */
}

.product-item img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* 画像を枠に合わせる */
}