.product-detail__main {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.product-detail__container {
    display: flex;
    max-width: 1200px;
    width: 100%;
    padding: 20px;
}

.product-detail__image {
    flex: 1;
    margin-right: 20px;
}

.product-detail__image img {
    width: 70%;
    height: auto;
    border-radius: 8px;
}

.product-detail__info {
    flex: 2;
    display: flex;
    flex-direction: column;
}

.product-detail__info h2 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #000;
}

.product-detail__info p {
    margin-bottom: 10px;
    font-size: 16px;
    color: #000;
}

.product-detail__info .price {
    font-size: 24px;
    font-weight: bold;
    color: #000;
}

.product-detail__info .brand,
.product-detail__info .category,
.product-detail__info .condition {
    font-size: 20px;
    font-weight: bold;
    color: #000;
}

.product-detail__info .description {
    font-size: 20px;
    font-weight: bold;
    color: #000;
    margin-top: 20px;
}

.action-buttons {
    display: flex;
    align-items: center;
    gap: 15px;
    margin: 15px 0;
}

.action-buttons button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    display: flex;
    align-items: center;
}

.action-buttons .favorited img {
    filter: sepia(100%) saturate(1000%) hue-rotate(-50deg);
}

.action-buttons .iconstar,
.action-buttons .iconcomment {
    width: 30px;
    height: 30px;
}

.action-buttons .iconstar {
    margin-right: 5px;
}

#favorite-count {
    font-size: 18px;
    color: #000;
}

.purchase-button {
    font-size: 18px;
    padding: 10px 20px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    background-color: red;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 60%;
}

.purchase-button:hover {
    background-color: #e03e00;
}

/* スマートフォン用のレスポンシブデザイン */
@media screen and (max-width: 768px) {
    .product-detail__container {
        flex-direction: column;
        padding: 15px;
    }

    .product-detail__image {
        margin-right: 0;
        margin-bottom: 20px;
    }

    .product-detail__info h2 {
        font-size: 24px;
        margin-bottom: 8px;
    }

    .product-detail__info .price {
        font-size: 22px;
    }

    .product-detail__info p {
        font-size: 14px;
    }

    .product-detail__info .category,
    .product-detail__info .condition,
    .product-detail__info .brand,
    .product-detail__info .description {
        font-size: 18px;
    }

    .action-buttons {
        justify-content: flex-start;
        margin: 10px 0;
        gap: 10px;
        flex-direction: row;
    }

    .action-buttons .iconstar,
    .action-buttons .iconcomment {
        width: 25px;
        height: 25px;
    }

    #favorite-count {
        font-size: 16px;
    }

    .purchase-button {
        font-size: 18px;
        padding: 12px;
        width: 100%;
    }
}