.purchase-form__main {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    height: 100vh;
    box-sizing: border-box;
}

.left-side {
    display: flex;
    flex-direction: column;
    width: 60%;
}

.product-info {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.product-image img {
    max-width: 150px;
    height: auto;
    margin-right: 70px;
}

.product-details {
    font-size: 16px;
}

.product-details h2,
.product-details p {
    margin: 0;
}

.payment-shipping-info {
    margin-top: 20px;
}

.info-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.left-side .info-label {
    font-size: 16px;
    font-weight: bold;
    color: black;
    margin-bottom: 100px;
    margin-left: 20px;
    
}

.change-link {
    font-size: 16px;
    color: blue;
    text-decoration: none;
    margin-right: 100px;
}

.change-link:hover {
    text-decoration: underline;
}

.right-side {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 40%;
}

.price-info {
    border: 2px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    background-color: #f9f9f9;
    width: 500px;
    height: 400px;
    margin-bottom: 20px;
    margin-right: 100px;
}

.info-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.info-label {
    font-size: 20px;
    font-weight: bold;
    color: black;
    margin-bottom: 100px;
}

.price-info p {
    margin: 0;
    font-size: 20px;
}

.purchase-button {
    background-color: red;
    color: white;
    font-size: 20px;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    width: 100%;
    max-width: 500px;
    height: 60px;
    box-sizing: border-box;
    text-align: center;
    margin-top: 20px;
    margin-right: 100px;
}