header {
    background-color: black;
    width: 100%;
    padding: 10px 0;
    text-align: left;
}

header a {
    display: inline-block;
    margin-left: 20px;
}

header img {
    width: 200px;
}

main {
    display: flex;
    justify-content: center;
    height: calc(100vh - 50px);
}

/* フォームの中央配置とテキスト左寄せ */
.register__content {
    text-align: left;
}

/* 見出し */
.register-form__heading h2 {
    color: black;
    font-weight: bold;
    font-size: 30px;
    margin-top: 70px;
    text-align: center;
}

/* ラベル */
.form__label--item {
    color: black;
    font-weight: bold;
    font-size: 15px;
}

/* 入力枠 */
.form__input--text input {
    width: 400px;
    padding: 10px;
    margin-bottom: 40px;
    font-size: 20px;
}

/* ボタン */
.form__button-submit {
    background-color: red;
    color: white;
    width: 400px;
    padding: 10px;
    font-size: 15px;
    margin-top: 20px;
}

/* リンク */
.login__link {
    text-align: center;
    margin-top: 20px;
}

.login__link a {
    color: blue;
}