.product-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.product-item {
    width: calc(20% - 10px);
    margin: 5px;
    box-sizing: border-box;
}

.product-link {
    display: block;
}

.product-image {
    width: 70%;
    height: auto;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

.no-products {
    text-align: center;
    font-size: 16px;
    color: #555;
}

@media (max-width: 768px) {
    .product-item {
        width: calc(50% - 10px);
    }

    .no-products {
        font-size: 14px;
    }

    .product-image {
        width: 170px;
        height: auto;
        aspect-ratio: 1 / 1;
        object-fit: cover;
        margin-left: 15px;
    }
}